* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo: #D9D9D9;
    --titulo-menu: #ECEFE4;
    --texto-geral: #000000;
    --texto-biosfera: #3F2913;
    --texto-recuperar: #054C00;
    --texto2-recuperar: #00183C;
    --elementos-organismo: #9FBB99;
    --elementos-biosfera: #CBC8B3;
    --elementos-ecologia: #94B36D;
    --elementos-recuperar: #e6e6e6;
    --elementos-recuperar2: #E9EBF8;
    --elementos-ecossistema: #B3BECB;
}

body {
    background-color: var(--fundo);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.duvida  {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 40px;
    height: 40px;
}

.caixa {
    background-color: var(--fundo);
    width: 450px;
    padding: 45px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.caixa h1 {
    font-size: 18px;
    color: var(--texto-recuperar);
    margin-bottom: 20px;
}


.caixa a {
    display: block;
    color: var(--texto2-recuperar);
    background-color: var(--elementos-organismo);
    padding: 10px 0;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;   
}

.caixa a:hover {
    background-color: var(--elementos-ecologia);
}

.ecobio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ecobio img {
    width: 120px;
    height: auto;
    margin-right: -15px;
}

.ecobio h1 {
    font-size: 40px;
    color: var(--texto-recuperar);
    margin: 0;
    font-family: "Laila", serif;
    font-weight: 700;
    font-style:normal;
}


