* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #C8B88E;
    color: #2A6626;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 36px;
    color: #775809;
}

header h2 {
    font-size: 24px;
    color: #80914D;
}

main {
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #80914D;
    color: #fff;
}

thead th {
    padding: 10px;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #F2F2F2;
}

tbody td {
    padding: 10px;
}
