*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fundo:#D9D9D9;
    --titulo-menu:#ECEFE4;
    --texto-geral:#000000;
    --texto-biosfera:#3F2913;
    --texto-recuperar: #054C00;
    --texto2-recuperar:#00183C;
    --elementos-organismo:#9FBB99;
    --elementos-biosfera:#CBC8B3;
    --elementos-ecologia:#94B36D;
    --elementos-recuperar:#e6e6e6;
    --elementos-recuperar2:#E9EBF8;
    --elementos-ecossistema:#B3BECB;
}

body {
    background-color: var(--fundo);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.duvida  {
    position: absolute;
    top: 20px;
    left: 25px;
    width: 40px;
    height: 40px;
}


.caixa {
    background-color: var(--fundo);
    width: 450px;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.caixa h1 {
    font-size: 18px;
    color:var(--texto-recuperar);
    margin-bottom: 25px;
}


.caixa label {
    display: block;
    font-size: 14px;
    color: var(--texto2-recuperar);
    margin-bottom: 6px;
    text-align: left;
}

.caixa input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1.5px solid var(--elementos-recuperar2);
    border-radius: 7px;
    background-color: var(--elementos-recuperar2);
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.caixa button {
    background-color: var(--elementos-organismo);
    color: var(--texto2-recuperar);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Jost", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.caixa button:hover {
    background-color: var(--elementos-ecologia);
}



.ecobio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ecobio img {
    width: 120px;
    height: auto;
    margin-right: -15px;
}

.ecobio h1 {
    font-size: 40px;
    color: var(--texto-recuperar);
    margin: 0;
    font-family: "Laila", serif;
    font-weight: 700;
    font-style:normal;
}



